<%- include("navbar") -%>

<link rel="stylesheet" href="/css/forms.css" />

<form method="post" action="/signup">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required />

  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <input
    type="submit"
    value="Sign Up"
    style="margin-left: 35%; margin-top: 6%"
  />

  <div class="error">
    <p style="color: red; font-style: italic; margin-left: 29%"><%= msg %></p>
    <!-- Display error message here if login is unsuccessful -->
  </div>
</form>
